.rg_layout{
    width: 100%;
    height: 585px;
    background: url(../images/1.jpg) no-repeat center;
    background-size: 100% 780px;
    overflow: hidden;
}


.rg_layout .rg_form{
    width: 886px;
    height: 534px;
    background-color: #fff;
    margin:24px auto;
    border:8px solid #eeeeee;
    box-sizing: border-box;
}

.rg_layout .rg_form > .rg_form_left{
    width:226px;
    float: left;
    padding-top:20px;
    padding-left: 20px;
    box-sizing: border-box;
}


.rg_layout .rg_form > .rg_form_center{
    width:380px;
    float: left;
    padding-top:80px;
    padding-left:0px;
    box-sizing: border-box;
    font-size: 14px;
}


.rg_layout .rg_form > .rg_form_right{
    width:256px;
    float: right;
}


.rg_form > .rg_form_left > p:first-child{
    font-size: 20px;
    color:#ffcd26;

}

.rg_form > .rg_form_left > p:last-child{
    font-size: 20px;
    color: #a6a6a6;
}

.rg_form > .rg_form_center .td_left{
    width: 65px;
    text-align: right;
}

.rg_form > .rg_form_center table{
    vertical-align: top;
}

.rg_form > .rg_form_center table tr{
    height: 50px;
}

.rg_form > .rg_form_center .td_right{
    width: 293px;
}



.rg_form_center .td_right {
    line-height: 32px;
    padding: 6px 12px;
    border-radius: 4px;
    float: left;
    background-color: white;
}


.rg_form > .rg_form_right >p >a{
    color: #fc8989;
}


.rg_layout .rg_form > .rg_form_center{
    width:380px;
    float: left;
    padding-top:80px;
    padding-left:0px;
    box-sizing: border-box;
    font-size: 14px;
}



.rg_form > .rg_form_right .div_top{
    width: 100%;
    height: 300px;
    float: right;
    box-sizing: border-box;
    background: url(../images/person1.jpg) no-repeat center;
    padding-left: 0px;
}



.rg_form > .rg_form_right .div_buttom{
    width: 100%;
    height: 200px;
    float:right;
    box-sizing: border-box;
    padding-top:180px;
    padding-left: 100px;
    background-color: white;
}




.rg_form_right img{
    width: 200px;
    height: 200px;
    background: url(../images/person.jpg) no-repeat center;
}