<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>东海宁大恋爱旅游网-个人信息页面</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/person.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!--导入jquery-->
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
</head>
<body>
<!--引入头部-->
<div th:include="header::header"></div>
<!-- 头部 end -->
<div class="rg_layout">
    <div class="rg_form clearfix">
        <div class="rg_form_left">
            <p>个人信息</p>
            <p>information</p>
        </div>
        <div class="rg_form_center">
            <!--注册表单-->
            <div id="registerForm" th:src="@{/user/person}" method="post" accept-charset="UTF-8">
                <!--提交处理请求的标识符-->
                <input type="hidden" name="action" value="person">
                <table style="margin-top: 25px;">
                    <tr>
                        <td class="td_left">
                            <label for="username">用户名:</label>
                        </td>
                        <td class="td_right">
                            <label id="username" th:utext="${userinfo.username}">
                                <!-- <input type="text" id="username" name="username" ">-->
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="email">Email:</label>
                        </td>
                        <td class="td_right">
                            <label id="email" th:utext="${userinfo.email}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="name">姓名:</label>
                        </td>
                        <td class="td_right">
                            <label id="name" th:utext="${userinfo.name}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="telephone">手机号:</label>
                        </td>
                        <td class="td_right">
                            <label id="telephone" th:utext="${userinfo.telephone}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="sex">性别:</label>
                        </td>
                        <td class="td_right">
                            <label id="sex" th:utext="${userinfo.sex}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_left">
                            <label for="birthday">出生日期:</label>
                        </td>
                        <td class="td_right">
                            <label id="birthday" th:utext="${userinfo.birthday}"></label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="rg_form_right">
            <div class="div_top">
                <!--<img src="../images/person.jpg" alt="Pulpit rock" width="200" height="200">-->
            </div>
            <p class="div_buttom">
            信息有误？
            <a th:href="@{/toModifyPage}">修改信息</a>
        </p>
    </div>
    </div>
</div>
<!--引入尾部-->
<div th:include="footer::footer"></div>
<!--导入布局js，共享header和footer-->
<script type="text/javascript" th:src="@{/js/include.js}"></script>
</body>
</html>